@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxA {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #f2ecd1;
    /* text-align: center; */
    font-family: serif;
    font-size: 85px;
    color: #f7501d;
}
.boxB {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* text-align: center; */
    background-color: #eee;
    font-family: serif;
    font-size: 25px;
}
.boxC {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* text-align: center; */
    background-color: #ccc;
    font-family: serif;
    font-size: 25px;
}
.boxD {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* text-align: center; */
    background-color: #ccc;
    font-family: serif;
    font-size: 25px;
}
.boxE {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* text-align: center; */
    background-color: #eee;
    font-family: serif;
    font-size: 25px;
}
h1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
p {
    display: flex;
    justify-content: center;
    text-align: center;
}
.orange {
    font-family: serif;
    color: #f7501d;
}
#profile img {
    order-radius: 50%;
    width: 300px;
    height: 300px;
    margin-right: 80px;
}
div#profile {
    width: 790px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
}
.beige {
    font-family: serif;
    color: #e8dabd;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}
header {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    color: #f7501d;
}
form#form {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    width: 500px;
    margin-left: 300px;
}