@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxA {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #005dcf;
    /* text-align: center; */
    font-size: 85px;
    color: #ff9200;
}
.boxB {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* text-align: center; */
    background-color: #eee;
    font-size: 25px;
}
.boxC {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* text-align: center; */
    background-color: #ccc;
    font-size: 25px;
}
.boxD {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* text-align: center; */
    background-color: #ccc;
    font-size: 25px;
}
.boxE {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* text-align: center; */
    background-color: #eee;
    font-size: 25px;
}
h1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
p {
    display: flex;
    justify-content: center;
    text-align: center;
}
.orange {
    color: #ff9200;
}
.blue {
    color: #005dcf;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}