/* textyleF */
.ex1 {
  margin: 0;
  padding: 0;
  font-size: 7rem;
  line-height: 1;
  letter-spacing: .3rem;
  color: #253057;
  opacity: 0;
  perspective: 200px;
}

.ex1 span {
    transform: rotateY(-90deg);
    opacity: 0;
}